@import "../../scss/config";

.main-app-bar-lg {
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0px;
  background-color: #fff;

  .nav-content-wrapper {
    display: grid;
    display: grid;
    grid-template-columns: auto 70%;
    justify-content: space-between;
    grid-gap: 32px;
    align-items: center;
    padding: 10px 0px;

    .logo {
      img {
        width: 150px;
      }
    }

    .search-box {
      display: grid;
      grid-template-columns: 1fr auto;
      max-width: 632px;
      border: 1px solid #ddd;
      input {
        height: 35px;
        width: 100%;
        padding: 4px 12px;
        border: 0;
        outline: 0;

        &:focus-visible {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }

      .btn-div {
        .search-btn {
          height: 35px;
          width: 79px;
          border: 0;
          outline: 0;
          padding: 8px 12px;
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }

  display: none;

  @include mediaLg {
    display: grid;
  }
}
